{% extends 'base.html' %}

{% block head_title %}Pricing - {{ block.super }}{% endblock head_title %}
{% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="px-4 mx-auto max-w-screen-xl lg:py-6 lg:px-6">
        <div class="mt-8 mb-8 text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Designed for business teams like yours</h2>
            <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Here at Sora we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
        </div>
        <div class="flex justify-center py-4">
            {% include 'subscriptions/snippets/pill_tabs.html' with intervals=intervals active_interval=interval %}
        </div>
        <div class="py-4 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
            {% for price in prices %}
            {% include 'subscriptions/snippets/pricing_card.html' with price=price %}
            {% endfor %}
        </div>
    </div>
  </section>
{% endblock content %}