{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% trans 'Sora' %}{% endblock head_title %}</title>
    {% include 'base/css.html' %}
    {% block templatecss %}{% endblock templatecss %}
</head>
<body>
        <div class="w-full h-screen flex flex-col justify-between">
        {% block nav %}{% include 'snippet/nav.html' %}{% endblock nav %}
        <div>
            
        </div>
        {% block content %}{% endblock content %}
        {% include 'footer/footer.html' %}
    </div>
    {% include 'base/js.html' %}
    {% block templatejs %}{% endblock templatejs %}
</body>
</html>