{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% trans 'Sora' %}{% endblock head_title %}</title>
    {% include 'base/css.html' %}
</head>
<body style="height: 100vh !important; display: flex; justify-content: space-between;flex-direction: column;">
        {% include 'nav/navbar.html' %}
        {% block content %}{% endblock content %}
        {% include 'footer/footer.html' %}
    {% include 'base/js.html' %}
</body>
</html>