.container h1 {
    text-align: center;
    margin: 0px !important;
}
.label {
    padding: 2px;
}
.label-text {
    color: black;
    font-size: 15px;
    margin-top: 14px;
    margin-bottom: 3px;
}
.subheading, .subheading a {
    font-size: 14px;
    color: rgb(63 63 70); 
}
.subheading a {
    font-style: bold;
}
.input {
    padding: 10px !important;
    height: 40px;
    border-radius: 3px !important;
    color: black !important;
    border: 1px solid#c9c9c9 !important;
    background-color:  #F9FAFB !important;
}
.input:hover, .input:focus {
    background-color:  #f0f1f2 !important;
    /* border-color: #226FF9 !important; */
}

.my-3 {
    width: 100%;
    color: white;
    margin-top: 30px !important;
    background: #226FF9 !important;
    border-color: #226FF9 !important;
    border-radius: 3px !important;
}
.container {
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.container div:first-child {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);    
    border: 1px solid rgb(231, 230, 230);

}
body {
    height: 100vh !important; 
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
}
.cursor-pointer .checkbox {
    border-radius: 5px;
}
.cursor-pointer .label-text {
    font-size: 13px;
    margin: 1px 5px;
    font-weight: 500;
}
.label-text-second {
    font-weight: 500;
    cursor: pointer;
    font-size: 13px;
    color: #226FF9;
}
.label-text-second-outer {
    font-size: 13px;
    font-weight: 500;
    font-size: 13px;
} 
.label-text-second:hover {
    color: #226FF9 !important;
    text-decoration: underline;
}
.container form {
    padding: 0px;
}


.container .authlogo {
    max-width: 25px;
}
.container .footnote {
    font-size: 12px;
}
.container .footnote a {
    text-decoration: underline;
    cursor: pointer;
    color: #7b7d7d;
}
.container .footnote a:hover {
    color: black;
}
.note {
    font-size: 12px;
    background: #226FF9;
    padding: 5px 10px;
    color: white;
    text-align: left;
    width: 100%;
    font-weight: 600;
    border-radius: 2px;
}