{% extends "account/password_reset_done.html" %}
{% load i18n %}
{% load allauth_ui %}
{% block content %}
    {% trans "Recovery Email Sent" as heading %}
    {% #container heading=heading %}
    {% if user.is_authenticated %}
        <div class="my-3">{% include "account/snippets/already_logged_in.html" %}</div>
    {% endif %}
    <div>
        <p class="text-sm my-4">
            {% blocktrans %}We have sent you an email with instructions to reset your password. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
        </p>
    </div>
    {% /container %}
{% endblock content %}