{% extends "account/password_reset.html" %}
{% load i18n %}
{% load allauth_ui %}
{% block head_title %}{% trans 'Recover your password' %} - Sora{% endblock head_title %}
{% block content %}

    <!-- {% trans "Reset Password" as heading %} -->
    {% #container  %}
    <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Forgot your password?</h2>
    </div>
    {% if user.is_authenticated %}
        <!-- <div class="my-3">{% include "account/snippets/already_logged_in.html" %}</div> -->
    {% endif %}
    <div>
        <p class="text-sm my-2">
            {% trans "Don't fret! Just type in your email and we will send you a code to reset your password!" %}
        </p> 
    </div>
    {% url "account_reset_password" as url %}
    {% trans "SEND EMAIL" as button_text %}
    {% #form form=form url=url button_text=button_text %}
    {% csrf_token %}
    {{ redirect_field }}
    {% /form %}
    <!-- <div>
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
    </div> -->
    {% /container %}
{% endblock content %}