{% extends "account/password_reset_done.html" %}
{% load i18n %}
{% load allauth_ui %}
{% block content %}
    {% #container %}
    
    <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Recovery email sent</h2>
    </div>
    {% if user.is_authenticated %}
        <!-- <div class="my-3">{% include "account/snippets/already_logged_in.html" %}</div> -->
    {% endif %}
    <div>
        <p class="text-sm my-4">
            {% blocktrans %}Password reset instructions are on their way! If you don’t see the email, check your spam folder. We’re here to help if it doesn’t arrive soon.{% endblocktrans %}
        </p>
    </div>
    {% /container %}
{% endblock content %}