{% extends "account/signup.html" %}
{% load i18n %}
{% load allauth_ui %}
{% load widget_tweaks %}
{% block head_title %}{% trans 'Sign Up' %} - Sora{% endblock head_title %}
{% block content %}
    {% url "account_login" as login_url %}
    {% trans "Create an account" as heading %}
    {% trans "Create account" as button_text %}
    {% blocktranslate asvar subheading %}     
    <p class="text-sm w-full footnote text-center">Already have an account? Then please <a href="{{ login_url }}">sign in. </a></p>
    {% endblocktranslate %}
    {% #container heading=heading subheading=subheading  %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'signup' as action_url %}
        {% #form form=form url=action_url button_text=button_text %}
        {{ redirect_field }}
        {% csrf_token %}
        {% /form %}
    {% endif %}
    <!-- {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %} -->
    
    {% /container %}
{% endblock %}